.row {
  z-index: 99;
}
.row .row__heading {
  color: white;
  margin: 10px;
}
.row .row__posters {
  display: flex;
  margin-right: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
}
.row .row__posters::-webkit-scrollbar {
  display: none;
}
.row .row__poster {
  width: 100%;
  object-fit: contain;
  max-height: 160px !important;
  transition: 0.45s;
  padding: 10px;
}
.row .row__poster:hover {
  transform: scale(1.08);
}
.row .row__posterLarge {
  max-height: 250px !important;
}